<div class="container-fluid padding text-center mt-5">
  <div class="row padding">
    <div class="col-lg-8 mt-5">
      <h2 class="mb-5">About us</h2>
      <p>Based in the center of Shanghai,the city that never sleep, we constantly search for the best instruments provider and
      ensure the quality by ourselves.</p>
      <p>Our goal is simple, link our buyers and sellers together, do our best to guarantee both sastifaction in our platform.</p>
      <p>We offer 24/7 service,please free to reach us anytime.</p>
      <a href="mailto:2740080898@qq.com" class="btn btn-outline-secondary">contact us</a>
    </div>
    <div class="col-lg-4">
       <%=image_tag "shanghai.jpg",class:"img-fluid"%>
    </div>
  </div>
</div>
