<div style="width:10vw;text-align:center;display:flex;flex-direction: column">
    <p class="quote">Search by categories</p>
  <div>
    <p class="links border"><%= link_to "ALL", root_path, remote:true,class:"links" %></p>
    <%@categories.each do |categorie| %>
     <p class="links border"><%=link_to categorie.name,root_path(categorie:categorie.name),remote:true ,class:"links"%><p>
    <%end%>
  </div>
</div>
