<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Make your life an musical journey</h5>
      <% if current_user.present? %>
          <%=link_to "logout", sessions_destroy_path,  method: :delete%>
          <%= link_to "add instruments",new_product_path %>
      <%else%>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#session">
          log in
        </button>
      <%end%>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
