<div style="width:100vw;margin-top:80px;margin-bottom:80px;text-align: center">
  <h2 class="quote">“Music expresses that which cannot be said and on which it is impossible to be silent.”</h2>
  <p class="author">Victor Hugo</p>
</div>
