
<div class="container-fluid text-center jumbotron">
  <div class="container text-center">
    <h2 class="quote">“Music expresses that which cannot be said and on which it is impossible to be silent.”</h2>
    <p class="author float-md-right">Victor Hugo</p>
</div>
</div>
