<div class="container" id="banner">
  <div class="d-flex justify-content-center align-items-center flex-column" style="height:100%;width:100%">
    <div class="row">
      <h2>Shop your instruments</h2>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Get Started!
      </button>
      <%= render 'shared/modal' %>
    </div>
  </div>
<div>
