<%@products.each do |product| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%=product.brand%></p>
      <p class="card-text"><%=to_currency(product)%></p>
    </div>
  </div>
<%end%>
